*.pyc
.env
__pycache__

settings.json


#Frontend
node_modules/


# environment files
.env
.env.*
!.env.example

/.react-router/
/build/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules
# build output
dist
dist-ssr
.vite/

# misc
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# public files
frontend/public/*
# assets/*
*.png
*.jpg
*.mp4

# cache
.cache/
.tmp/
temp/

# TS
*.tsbuildinfo

# packamge managers
.pnpm-store/
.npm/


!frontend/public/sasazuka.png
# ignore changes to compose.yaml until its needed
compose.yaml
